
/*.mona-sans-<uniquifier> {
  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

html, body {
    font-family: "Mona Sans", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
  }


body,p{
    position:relative;
	display:flex;
	flex-direction:column;
	align-items: center;
}

#title{
	font-weight:700;
  text-align: center;
    font-size: 1.7rem;
}
#filter-header {
    cursor:pointer;
    display:flex;
    flex-direction:row;
    align-items: center;
}
#filter-container{
    overflow:hidden;
    transition:0.5s ease;
}
#filter-arrow{
    height:1.5rem;
    transition:0.2s ease;
    transform: rotate(0deg);
}

#filter-arrow.closed {
    transform: rotate(-90deg);
}

.closed {
    height:0rem;
}

#content{
	width: 80vw;
    display: flex;
    flex-direction:column;
    align-items: center;
}
#active-categories {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    /*padding:0.5rem;*/
    background-color: #e6e6e6;
    border-radius: 0.5rem;
    margin-bottom:0.5rem;
}
#category-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100%;
}
.category-container {
    display:flex;
    flex-wrap:wrap;
    width:100%;
}
.category{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:0.2rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
    margin:0.1rem;
    border-radius:0.3rem;
    color:white;
    cursor:pointer;
}
.category-x {
    margin-left: 0.3rem;
    width:1.2rem;
}

.tiny-category{
    font-size:0.8rem;
    padding:0.1rem;
    padding-left:0.2rem;
    padding-right:0.2rem;
    border-radius:0.2rem;
    font-weight:600;
    color:white;
    position:absolute;
    bottom:1rem;
    right:1rem;
}
.image-frame{
	overflow:hidden;
	height:12rem;
	display:flex;
	justify-content:center;
}

.top-bottom-margin {
    margin-top:1rem;
    margin-bottom:1rem;
}

.old-price {
    color:gray;
    text-decoration-line: line-through;
    text-decoration-thickness: 0.3rem;
}

.sale-price {
    color: rgb(95, 24, 24);
    margin-right: 1rem;
}

.price-container {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.smaller-text {
    font-size: 0.5rem;
}

.small-text {
    font-size: 0.7rem;
}

.smallish-text {
    font-size: 0.8rem;
}

.largeish-text {
    font-size: 1.2rem;
}

.large-text {
    font-size: 1.5rem;
}

.large-text {
    font-size: 1.7rem;
}

.button-container {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.buy-button {
    text-decoration: none;

}

.buy-button-content {
    color:white;
    background-color: black;
    padding: 0.7rem;
    margin-right: 0.5rem;
    border-radius: 2rem;
    cursor:pointer;
    border:0.2rem solid black;
    transition: 0.1s ease;
}


.buy-button:hover .buy-button-content {
    background-color: white;
    color:black;
}

.desc{
	margin-bottom: 15px;
}
a {
	font-weight: 700;
}

.page.selected .items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.items {
    display:none;
}

.item{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
	width:20rem;
}
#pages-titles{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.page-title{
    width:fit-content;
    padding:0.5rem;
    margin:0.5rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    cursor:pointer;
    transition: 0.2s ease;
}
.page-title:hover{
    border: 1px solid lightgray;
}
.page-title.selected{
    background-color:lightgray;
}


.lower-weight {
    font-weight:300;
}

.low-weight {
    font-weight:500;
}

.highish-weight {
    font-weight:600;
}

.high-weight{
    font-weight:700;
}

.higher-weight {
    font-weight:900;
}

.italic {
    font-style:italic;
}
.center {
  text-align: center;
}
.no-margin{
    margin:0;
}
.right-margin {
    margin-right:1rem;
}
#foot{
	height: 10rem;
	background-color: black;
	margin-top:4rem;
	width:100vw;
}
